AA=THIS
CC=aws-ssm-parameter:/msp/voi/new-relic-license-key
BB=aws-ssm-parameter:/msp/voi/db-master-user-password
Hello=BRAIN
There=aws-ssm-parameter:/msp/voi/db
Foo=aws-ssm-parameter:/msp/voi/voi-api-token
Eggs=HALLO